#no-order{
    visibility: hidden;
    background-color: grey;
    width: 500px;
    height: 200px;
    font-size: 30px;
    padding: 15px;
    position: fixed;
    border-radius: 15px;
    text-align: center;
    top: 20%;
    right: 20%;
    transform: translate(50%, -50%);
}

.img-sm{
    height: 200px;
    width: 200px;
    margin: 15px;
}

form{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    border: solid 2px black;
    
}

form input{
    width: 50px;
    height: 40px;
    text-align: center;
}

.pizza-form{
    margin: 5px;
    display: flex;
    align-items: center;
    width: 450px;
    border-radius: 15px;
    background-color: gray; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pizza-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}



#add{
    display: block;
    width: 100px;
    height: 50px;
    margin: 0 auto;
}

.order-content{
    width: fit-content;
    height: 650px;
    border: solid 2px black;
}

label{
    padding-right: 25px;
}
