body{
    color: white;
}

.nav {
    background-color: rgba(78, 72, 72, 0.8);
}


.content{
    color: white;
    margin: 20px;
}

.img-med{
    width: 286px;
    height: 286px;
}

.classics{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.card{
    opacity: 0.85;
}

.card:hover{
    opacity: 1;
}

.menu-title{
    display: flex;
    justify-content: center;
    color: rgb(255, 251, 243);
}

form{
    width: 500px;
    padding: 15px;
    border-radius: 15px;
    background-color: gray;
}

.form{
    margin-top: 30px;
    display: flex;
    justify-content: center;

}